<section class="about">
			<div class="about__item">
				<h4 class="about__title">ABOUT US</h4>
				<div class="about__img-wrap">
					<img src="./img/img14-460x262.jpg" alt="surfer" class="about__img">
				</div>
				<p class="about__text"><b>Lorem ipsum dolor</b> sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<a href="#" class="about__link">READ MORE</a>
			</div>
			<div class="about__item">
				<h4 class="about__title">FEATURES</h4>
				<div class="about__img-wrap">
					<img src="./img/img6-460x262.jpg" alt="surfer" class="about__img">
				</div>
				<p class="about__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<a href="#" class="about__link">READ MORE</a>
			</div>
			<div class="about__item">
				<h4 class="about__title">LOREM IPSUM</h4>
				<p class="about__text about__text--lorem">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<p class="about__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<a href="#" class="about__link">READ MORE</a>
			</div>
			<div class="about__item">
				<h4 class="about__title">ARCHIVES</h4>
				<div class="about__date-wrap">
					<a href="#" class="about__date-link">
						<date class="about__date">January 2011</date>
					</a>
					<a href="#" class="about__date-link">
						<date class="about__date">December 2010</date>
					</a>
					<a href="#" class="about__date-link">
						<date class="about__date">November 2010</date>
					</a>
					<a href="#" class="about__date-link">
						<date class="about__date">October 2010</date>
					</a>
					<a href="#" class="about__date-link">
						<date class="about__date">September 2010</date>
					</a>
				</div>	
			</div>
		</section>	
<footer class="footer">
	<span class="footer__licence">Surfing (c) 2019</span>
	<a href="#" class="footer__policy">Privacy Policy</a>
</footer>