<section class="nav-footer">
			<div class="nav-footer__item">
				<h4 class="nav-footer__title">About US</h4>
				<div class="nav-footer__img-wrap">
					<img src="./img/img14-460x262.jpg" loading="lazy" alt="surfer" class="nav-footer__img">
				</div>
				<p class="nav-footer__text"><b>Lorem ipsum dolor</b> sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<a href="#" class="nav-footer__link">READ MORE</a>
			</div>
			<div class="nav-footer__item">
				<h4 class="nav-footer__title">FEATURES</h4>
				<div class="nav-footer__img-wrap">
					<img src="./img/img6-460x262.jpg" loading="lazy" alt="surfer" class="nav-footer__img">
				</div>
				<p class="nav-footer__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<a href="#" class="nav-footer__link">READ MORE</a>
			</div>
			<div class="nav-footer__item">
				<h4 class="nav-footer__title">LOREM IPSUM</h4>
				<p class="nav-footer__text nav-footer__text--lorem">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<p class="nav-footer__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				<a href="#" class="nav-footer__link">READ MORE</a>
			</div>
			<div class="nav-footer__item">
				<h4 class="nav-footer__title">ARCHIVES</h4>
				<div class="nav-footer__date-wrap">
					<a href="#" class="nav-footer__date-link">
						<date class="nav-footer__date">January 2011</date>
					</a>
					<a href="#" class="nav-footer__date-link">
						<date class="nav-footer__date">December 2010</date>
					</a>
					<a href="#" class="nav-footer__date-link">
						<date class="nav-footer__date">November 2010</date>
					</a>
					<a href="#" class="nav-footer__date-link">
						<date class="nav-footer__date">October 2010</date>
					</a>
					<a href="#" class="nav-footer__date-link">
						<date class="nav-footer__date">September 2010</date>
					</a>
				</div>	
			</div>
		</section>	
<footer class="footer">
	<span class="footer__licence">Surfing (c) 2019</span>
	<a href="#" class="footer__policy">Privacy Policy</a>
</footer>