<div class="links-top">
	<nav class="nav nav--top">
		<ul class="nav--top__links">
			<li><a class="nav--top__link" href="#">Register</a></li>
			<li><a class="nav--top__link" href="#">Login</a></li>
			<li><a class="nav--top__link" href="#">Entries rss</a></li>
		</ul>
	</nav>
</div>
<div class="links-bottom">
	<div class="logo">
		<h1 class="logo__title">
			<a class="logo__link" href="#">Surfing</a>
		</h1>
	</div>	
	<nav class="nav nav--bottom">
		<ul class="nav--bottom__links">
			<li><a class="nav--bottom__link" id="btn-home" href="#home-block">Home</a></li>
			<li class="about-submenu">
				<a class="nav--bottom__link" id="btn-about" href="#about-block">About</a>
					<nav class="nav--submenu">
						<ul>
							<li>
								<a href="#modal-1" class="nav--submenu__link">ET CONSE CTETUR</a>
							</li>
							<li>
								<a href="#modal-2" class="nav--submenu__link">ADIPISICING</a>
							</li>
							<li>
								<a href="#modal-3" class="nav--submenu__link">ELIT SED DO</a>
							</li>
							<li>
								<a href="#modal-4" class="nav--submenu__link">EIUSMOD TEMPOR</a>
							</li>
							<li>
								<a href="#modal-5" class="nav--submenu__link">INCIDIDUNT</a>
							</li>
						</ul>
					</nav>
			</li>
			<li><a class="nav--bottom__link" id="btn-news" href="#">News</a></li>
			<li><a class="nav--bottom__link" id="btn-blog" href="#">Blog</a></li>
			<li><a class="nav--bottom__link" id="btn-gallery" href="#">Gallery</a></li>
			<li><a class="nav--bottom__link" id="btn-contact" href="#">Contacts</a></li>
		</ul>		
	</nav>
</div>