<section class="slides owl-carousel owl-theme">
	<div class="slides__item"><img class="slides__img" src="../img/slide51-1000x504.jpg" alt="surfer"></div>
	<div class="slides__item"><img class="slides__img" src="../img/slide14-1000x504.jpg" alt="surfer"></div>
	<div class="slides__item"><img class="slides__img" src="../img/slide21-1000x504.jpg" alt="surfer"></div>
	<div class="slides__item"><img class="slides__img" src="../img/slide31-1000x504.jpg" alt="surfer"></div>
	<div class="slides__item"><img class="slides__img" src="../img/slide41-1000x504.jpg" alt="surfer"></div>
</section>